.historial {
   z-index: 4;
   position: absolute;
   bottom: 50px;
   right: 0;
   background-color: #202020;
   height: 50%;
   width: 100%;
   padding: 0.5rem 1rem 0;
   text-align: right;
   overflow-x: hidden;
   overflow-y: auto;
   border-radius: 16px 16px 0 0;
}

.historial h1 {
   margin-top: 0;
   margin-bottom: 1.2rem;
}

.historial h4 {
   color: #948d8d;
   margin-bottom: 3px;
}

.historial h6 {
   top: 0;
   right: 10px;
   position: absolute;
}

.historial::-webkit-scrollbar {
   -webkit-appearance: none;
}

.historial::-webkit-scrollbar:vertical {
   width: 3px;
}

.historial::-webkit-scrollbar-thumb {
   background-color: #797979;
   border-radius: 20px;
}
